<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>千助</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="header">
		<div class="logo">
			<a href="javascript: ;">
				<img src="img/logo.png" alt="北京网站建设_网站制作_千助">
			</a>
		</div>
		<div class="nav">
			<ul id="act">
				<li class="activeNav">首页</li>
				<li>业务</li>
				<li>案例</li>
				<li>客户</li>
				<li>品质</li>
				<li>增值</li>
				<li>关于</li>
				<li>联系</li>
			</ul>
			<div class="nav_bor">
				<div class="nav_bor_cent">
					<span class="topBor"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="active bg_1 active_d clearfix">
		<div class="bg_1_box">
			<div class="img img_1">
				<div class="bg_img9"></div>
				<div class="bg_text">
					<span>年专注，网站建设</span>
					<i></i>
					<p>始于 2008 - 2017 展望未来<br>专注于设计体验，专业于解决方案</p>
				</div>
				<div class="bg_lvj"></div>
			</div>
			<div class="img img_2">
				<div class="left"></div>
				<div class="bg_text">
					<span>设计控，也是醉了</span>
					<i></i>
					<p>非要高大上，只是醉于设计<br>我们想，再上一个好案例</p>
				</div>
			</div>
			<div class="img img_3">
				<div class="bg_text">
					<span>技术派，论研发</span>
					<i></i>
					<p>我说，业界没有最好的技术，只有最棒的技术开发者<br>定制研发，为您的客户和团队</p>
				</div>
			</div>
			<div class="img img_4">
				<div class="bg_text">
					<span>先入为主，布局未来</span>
					<i></i>
					<p>全面布局<u>PC</u>端与<u>移动</u>端<br>抢占头等商机<br />基于<u>Html5</u>响应式布局，智能识别多种终端设备</p>
				</div>
			</div>
			<div class="img img_1">
				<div class="bg_img9"></div>
				<div class="bg_text">
					<span>年专注，网站建设</span>
					<i></i>
					<p>始于 2008 - 2017 展望未来<br>专注于设计体验，专业于解决方案</p>
				</div>
				<div class="bg_lvj"></div>
			</div>
		</div>
		<div class="bg_1_lst">
			<span>NEWS :</span>
			<ul>
				<li>还在问做网站哪家公司好？业内人士教你选</li>
				<li>国家网信办：网站不得向未实名用户提供跟帖评论服务</li>
				<li>微软不再对Linux持敌对态度，开放合作、互通你我或成主旋律</li>
				<li>给你看八个网页特效，让你的网站建设更加引人入胜！</li>
				<li>如何使用以图像为中心的设计来提高网站转化率</li>
			</ul>
			<a href="javascriptL: ;"> more </a>
		</div>
		<div class="bg_1_btn">
			<ul>
				<li class="clo"></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="active bg_2 active_a">
		<div class="bg_2_box">
			<div class="box_tit">
				<i></i>
				<p>我们能做什么</p>
			</div>
			<div class="lst">
				<ul>
					<li class="pc">
						<u class="le"></u>
						<u class="ri"></u>
						<i class="pc_img"></i>
						<span>高端定制网站</span>
						<p>企业高端定制网站设计<br />彰显品牌形象</p>
						<div></div>
					</li>
					<li class="mobi">
						<u class="le"></u>
						<u class="ri"></u>
						<i class="mobi_img"></i>
						<span>移动网站建设</span>
						<p>定制手机网站 / 微网站制作<br />布局移动互联网</p>
						<div></div>
					</li>
					<li class="sys">
						<u class="le"></u>
						<u class="ri"></u>
						<i class="sys_img"></i>
						<span>业务系统研发</span>
						<p>基于 B/S 架构的系统研发<br />让业务办公轻松自如</p>
						<div></div>
					</li>
					<li class="app">
						<u class="le"></u>
						<u class="ri"></u>
						<i class="app_img"></i>
						<span>APP应用程序</span>
						<p>基于 iOS / Android 应用开发<br />让业务办公轻松自如</p>
						<div></div>
					</li>
					<li class="host">
						<u class="le"></u>
						<u class="ri"></u>
						<i class="host_img"></i>
						<span>服务器运维</span>
						<p>我们不只提供云硬件和网络<br />更加注重技术运维</p>
						<div></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="active bg_3 active_a">
		<div class="bg_3_box">
			<div class="box_tit">
				<i></i>
				<p>网站设计案列欣赏</p>
			</div>
			<div class="lst">
				<ul>
					<li>
						<div class="img_box">
							<div>
								<u></u>
							</div>
							<img src="img/0110028059.jpg"/>
						</div>
						<div class="text">
							<p>网站设计<br /><span>ATA官网建设</span><br />官方网站，上市公司，红色</p>
							<u></u>
						</div>
					</li>
					<li>
						<div class="img_box">
							<div>
								<u></u>
							</div>
							<img src="img/1153507477.jpg"/>
						</div>
						<div class="text">
							<p>网站设计<br /><span>中远国际航空网站设计</span><br />国有企业，蓝色，欧美风格，上市公司</p>
							<u></u>
						</div>
					</li>
					<li>
						<div class="img_box">
							<div>
								<u></u>
							</div>
							<img src="img/0244085480.jpg"/>
						</div>
						<div class="text">
							<p>网站设计<br /><span>海尔嫩烤箱官方网站建设</span><br />上市公司，官方碗盏，欧美风格</p>
							<u></u>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="active bg_4 active_a">
		<div class="bg_tit">
			<i></i>
			<p>他们与千助长期合作</p>
		</div>
		<div class="box">
			<div class="bgK"></div>
			<ul class="boxBox">
				<li class="ig_1 brBor one"></li>
				<li class="ig_2 brBor one"></li>
				<li class="ig_3 brBor one"></li>
				<li class="ig_4 brBor one"></li>
				<li class="ig_5 bomBo one"></li>
				<li class="ig_6 brBor two"></li>
				<li class="ig_7 brBor two"></li>
				<li class="ig_8 brBor two"></li>
				<li class="ig_9 brBor two"></li>
				<li class="ig_10 bomBor two"></li>
				<li class="ig_11 rBor three"></li>
				<li class="ig_12 rBor three"></li>
				<li class="ig_13 rBor three"></li>
				<li class="ig_14 rBor three"></li>
				<li class="ig_15 three"></li>
			</ul>
		</div>
	</div>
	<div class="active bg_5 active_a">
		<div class="bg_5_box">
			<div class="box_tit">
				<i></i>
				<p>不同的媒介，同样精彩</p>
			</div>
			<div class="lst">
				<ul>
					<li>
						<div class="img_box">
							<dl class="img_box_1">
								<dd class="mobi"></dd>
								<dd class="pad"></dd>
								<dd class="pc"></dd>
							</dl>
						</div>
						<div class="text">
							<p>触及视觉灵魂的设计趋势</p>
							<p>精心布局的用户体验</p>
							<p>毫无顾忌地通过任何终端</p>
							<p>呈现在客户的眼前</p>
						</div>
					</li>
					<li>
						<div class="img_box">
							<dl class="img_box_2">
								<dd class="ie"></dd>
								<dd class="chrome"></dd>
								<dd class="firefox"></dd>
								<dd class="safari"></dd>
							</dl>
						</div>
						<div class="text">
							<p>Html5 + CSS3 响应式布局</p>
							<p>卓越的浏览器兼容性</p>
							<p>因为高端，所以出众</p>
						</div>
					</li>
					<li>
						<div class="img_box">
							<dl class="img_box_3">
								<dd class="windows"></dd>
								<dd class="ios"></dd>
								<dd class="andriod"></dd>
							</dl>
						</div>
						<div class="text">
							<p>基于 B/S 架构的网站建设</p>
							<p>无障碍的跨平台应用</p>
							<p>无需用户下载安装即可使用</p>
							<p>云端管理，轻松维护</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="active bg_6 active_a">
		<div class="bg_6_box">
			<div class="box_tit">
				<i></i>
				<p>整合营销，抢占商机</p>
			</div>
			<div class="lst">
				<ul>
					<li class="se">
						<u class="le"></u>
						<u class="ri"></u>
						<i></i>
						<span>搜索引擎</span>
						<p>SEO 优化<br />搜索引擎竞价</p>
					</li>
					<li class="weixin">
						<u class="le"></u>
						<u class="ri"></u>
						<i></i>
						<span>微信营销</span>
						<p>公众账号 / 微网站<br />微盟 ( 微社区 )</p>
					</li>
					<li class="weibo">
						<u class="le"></u>
						<u class="ri"></u>
						<i></i>
						<span>微博营销</span>
						<p>企业蓝V认证<br />官方微博接入网站</p>
					</li>
					<li class="sms">
						<u class="le"></u>
						<u class="ri"></u>
						<i></i>
						<span>消息推送</span>
						<p>短信平台接口<br />Email 推送</p>
					</li>
					<li class="pay">
						<u class="le"></u>
						<u class="ri"></u>
						<i></i>
						<span>在线支付</span>
						<p>支付宝、银联<br />Paypal 接口</p>
					</li>
					<li class="bbs">
						<u class="le"></u>
						<u class="ri"></u>
						<i></i>
						<span>论坛聚人</span>
						<p>独立开发<br />会员打通</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="active bg_7 active_a">
		<div class="cent_7">
			<ul class="cent7_lst">
				<li class="lst_1">
					<h3>后积薄发</h3>
					<p class="p_cent">
						登上峰顶，不是为了饱览风光，是为了寻找更高的山峰<br>
						日出东方，告别了昨天的荣耀，将光芒照向更远的地方<br>
						一路上，我们更在意如何积累和沉淀<br>
					</p>
					<p class="p_bom">下一秒，让你看，我们到底有多强</p>
				</li>
				<li class="lst_2">
					<h4>千助科技</h4>
					<p>成立于2008年，坐落于北京中关村科技园区，是中国优秀的互联网服务提供商。自成立以来，专注于高端网站建设、移动互联应用、B/S架构系统研发、云服务器部署和运维，为企业客户的互联网应用提供一站式服务。</p>
					<p>我们始终坚持以客户需求为导向，为追求用户体验设计，提供有针对性的项目解决方案，千助人将不断地超越自我，挑战险峰！</p>
				</li>
				<li class="lst_3">
					<h4>放下荣耀，放眼未来</h4>
					<ul>
						<li>2016年<i>-</i>荣获国家高新技术企业</li>
						<li>2013年<i>-</i>已拥有自主知识产权，国家软件著作权达12项之多</li>
						<li>2011年<i>-</i>注册 " 千助 " 商标，打造北京网站建设市场知名品牌</li>
						<li>2010年<i>-</i>荣获中关村高新技术企业、海淀区创新企业</li>
						<li>2010年<i>-</i>设计联盟评选为金牌设计企业</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="btn_7">
			<ul class="cent7_btn">
				<li class="activeBtn">思想</li>
				<li>关于</li>
				<li>荣誉</li>
			</ul>
		</div>
	</div>
	<div class="active bg_8 active_a">
		<div class="bg_8_box">
			<div class="bg_top">
				<ul>
					<li class="code"></li>
					<li class="site">
						<i></i>
						<p>中国 · 北京 中关村科技园</p>
						<p>联系电话：010-58851578 / 58859656</p>
						<p>地址：海淀区上地东路盈创东丽E座905</p>
						<p>邮编：10085  <a href="javascript: ;">[ 工作机会 ]</a></p>
					</li>
					<li class="sites">
						<p>Email：Service@1000zhu.com</p>
						<p>中文域名：千助.中国 / 千助.com</p>
						<p>Copyright 2008-2015 千助科技 版权所有</p>
						<p>京ICP备 08102474 号</p>
						<p>京公网安备 11010802010984 号</p>
					</li>
				</ul>
			</div>
			<div class="bg_bom">
				<i></i>
			</div>
		</div>
	</div>
	<div class="active bg_9 active_a">
		<div class="bg_9_box">
			<div class="bg_tit">
				<h4>友情链接，携手共进</h4>
			</div>
			<div class="bg_cent">
				<a href="javascript: ;">北京网站建设</a>
				<a href="javascript: ;">高端网站建设</a>
				<a href="javascript: ;">深圳网站建设</a>
				<a href="javascript: ;">北京网站设计</a>
				<a href="javascript: ;">上海网站建设</a>
				<a href="javascript: ;">北京网站建设公司</a>
				<a href="javascript: ;">网站建设</a>
				<a href="javascript: ;">北京网站制作</a>
				<a href="javascript: ;">广州网站建设</a>
				<a href="javascript: ;">云南网站建设</a>
				<a href="javascript: ;">广州建站</a>
				<a href="javascript: ;">上地网站建设</a>
				<a href="javascript: ;">做网站哪家公司好</a>
				<a href="javascript: ;">深圳网站优化</a>
				<a href="javascript: ;">网站建设</a>
				<a href="javascript: ;">西安网站建设</a>
				<a href="javascript: ;">烟台网站建设</a>
				<a href="javascript: ;">长沙网站推广</a>
				<a href="javascript: ;">成都网站建设</a>
				<a href="javascript: ;">长沙网站建设</a>
				<a href="javascript: ;">深圳网站建设</a>
				<a href="javascript: ;">北京网站建设</a>
				<a href="javascript: ;">品牌营销</a>
				<a href="javascript: ;">上海网站建设</a>
				<a href="javascript: ;">新数据</a>
				<a href="javascript: ;">石家庄网站建设</a>
				<a href="javascript: ;">北京网站建设</a>
				<a href="javascript: ;">济南网站建设</a>
			</div>
		</div>
	</div>
	
	<div id="sideBar">
		<ul>
			<li class="up">
				<i></i>
			</li>
			<li class="im">
				<i></i>
				<p>
					我要做网站
					<br />
					在线沟通，请点我
					<a href="javascript: ;">在线咨询</a>
				</p>
			</li>
			<li class="tel">
				<i></i>
				<p>
					网站建设咨询
					<br />
					小助啊，抓紧给我来个电话！
					<span>
						<input type="text" />
						<button>回拨</button>
					</span>
				</p>
			</li>
			<li class="wechat">
				<i></i>
				<p></p>
			</li>
			<li class="down">
				<i></i>
			</li>
		</ul>
		<a href="javascript: ;"></a>
	</div>
<script src="jquery-1.9.1/jquery.js"></script>
<script type="text/javascript" src="js/design.js"></script>
</body>
</html>